@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans',sans-serif;
}

body{
    font-size: 25px;
    color: #3e3e3e;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    min-height: 100vh;
    padding: 0 20px;
    background-color: #6c00f9;
}

.lists{
    width: 100vw;
    max-height: 100%;
    height: 650px;
    background-color: #fff;
    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
}

.lists .tabs{
    width: 300px;
    background-color: #be93f7;
    height: 100%;
}

.lists .tab-content{
    width: calc(100% - 300px);
    padding: 0 10px 0 34px;
    height: 100%;
}

.lists .tab-content .tab-head,
.lists .tab-content .tab-foot{
    color: #6c00f9;
    padding: 25px 0;
    height: 90px;
}

.lists .tab-content .tab-head{
    text-align: center;
}

.lists .tab-content .tab-body{
    height: calc(100% - 170px);
    overflow: auto;
}

/* .body-item-2,.body-item-3,.body-item-4,.body-item-5{
    display: none;
} */

.main .lists ul{
    padding: 104px 20px;
    text-align: right;
}

.main .lists ul li{
    padding: 20px 0;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
    transition: all .3s ease;
}

.main .lists ul li::before{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 3px;
    height: 100%;
    opacity: 0;
    background-color:#6c00f9;
    transition: all .25s ;
}

.main .lists ul li.lia::before{
    color:#6c00f9;
    opacity: 1;
}

.main .lists ul li:hover{
    color: #6c00f9;
}

.tab-body .body-item h3{
    margin-bottom: 20px;
    color:#6c00f9;
}

.tab-body .body-item p{
    margin-bottom: 50px;
}

.tab-foot button{
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    margin-right: 20px;
    background-color: transparent;
    border: 3px solid;
    border-radius: 25px;
    font-size: 20px;
    text-align:center;
    
}


.tab-foot{
    position: relative;
    bottom: 5px;
}

.tab-foot button.decline{
    border-color: #a15ef9;
    color:#b07cf5 ;
    font-weight: bold;
    letter-spacing: 2px;
}


.tab-foot button.Agree{
    color: #fff;
    background-color: #6c00f9;
    border:3px solid #a15ef9 ;
}

.tab-foot button.Agree p{
    position: relative;
    bottom: 2px;
    font-weight: 600;
    letter-spacing: 2px;
}

.tab-foot button.decline:hover{
    /* background-color: #6c00f9;
    color: #fff; */
    transition: all 0.4s ease;
    transform: scale(1.1) translateX(2px);
}



.tab-foot button.Agree:hover{
    transition: all 0.4s ease;
    transform: scale(1.1) translateX(2px);
}


#Restrictions{
    font-size: 40px;
    font-weight: bold;
    /* color: blue; */
}

#abc{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#aabb{
    font-size: 30px;
    font-weight: 600;
    color: black;
}